.word {
    -webkit-clip-path: polygon(0 0, 130% 0, 100% 110%, 0 100%);
    clip-path: polygon(0 0, 130% 0, 100% 110%, 0 100%);
}


.word-text {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}

.gsapFadeIn,
.gsapFadeInHero,
.gsapFadeInHeroBtn {
    opacity: 0;
}

@-webkit-keyframes AnimationBg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationBg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationBg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}