.footer-wrapper {
    background-color: #000;

    padding: 113px 140px 130px;

    @media #{$lg-layout} {
        padding: vw(113px, $base-lg-vw) vw(140px, $base-lg-vw) vw(130px, $base-lg-vw);
    }

    @media #{$sm-layout} {
        padding: vw(80px, $base-sm-vw) vw(24px, $base-sm-vw) vw(150px, $base-sm-vw);
    }

    .banner-wrapper {
        border-radius: 24px;
        border: 4px solid #2E2E2E;
        background: #171717;

        padding: 60px 40px 40px;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 32px;

        @media #{$lg-layout} {
            margin-bottom: vw(32px, $base-lg-vw);
        }

        @media #{$sm-layout} {
            margin-bottom: vw(26px, $base-sm-vw);
        }

        img {
            width: 108.268px;
            height: auto;

            margin-bottom: 16px;

            @media #{$lg-layout} {
                width: vw(108.268px, $base-lg-vw);
                margin-bottom: vw(16px, $base-lg-vw);
            }

            @media #{$sm-layout} {
                width: vw(108.268px, $base-sm-vw);
                margin-bottom: vw(15px, $base-sm-vw);
            }
        }

        p {
            color: #919191;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.42px;

            margin-bottom: 40px;

            @media #{$lg-layout} {
                font-size: vw(14px, $base-lg-vw);
                letter-spacing: vw(-0.42px, $base-lg-vw);

                margin-bottom: vw(40px, $base-lg-vw);

            }

            @media #{$sm-layout} {
                text-align: center;
                font-size: vw(14px, $base-sm-vw);
                letter-spacing: vw(-0.42px, $base-sm-vw);

                margin-bottom: vw(49px, $base-sm-vw);
            }
        }

        h4 {
            color: #FFF;
            text-align: center;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -1.2px;

            @media #{$lg-layout} {
                font-size: vw(40px, $base-lg-vw);
                letter-spacing: vw(-1.2px, $base-lg-vw);
            }

            @media #{$sm-layout} {
                font-size: vw(32px, $base-sm-vw);
                letter-spacing: vw(-0.96px, $base-sm-vw);
            }
        }
    }

    .bottom-wrapper {
        border-radius: 24px;
        border: 4px solid #2E2E2E;
        background: #171717;

        padding: 32px 40px;

        display: grid;
        // grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);

        @media #{$lg-layout} {
            padding: vw(32px, $base-lg-vw) vw(40px, $base-lg-vw);
        }

        @media #{$sm-layout} {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            gap: vw(24px, $base-sm-vw);
            padding: vw(42px, $base-sm-vw) vw(24px, $base-sm-vw);
        }

        p,
        a {
            color: #919191;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.42px;

            @media #{$lg-layout} {
                font-size: vw(14px, $base-lg-vw);
                letter-spacing: vw(-0.42px, $base-lg-vw);

            }

            @media #{$sm-layout} {
                text-align: center;
                font-size: vw(14px, $base-sm-vw);
                letter-spacing: vw(-0.42px, $base-sm-vw);
            }
        }

        a {
            text-decoration: underline;
        }

        .policy{
            @media #{$lg-layout} {
                text-align: center;
            }
        }

        .superficial{
            @media #{$lg-layout} {
                text-align: end;
            }

            img {
                width: 156.438px;
                height: auto;
    
                @media #{$lg-layout} {
                    width: vw(156.438px, $base-lg-vw);
                }
    
                @media #{$sm-layout} {
                    width: vw(156.438px, $base-sm-vw);
                }
            }
        }
    }
}